/****base start*****/
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;} 
.clearfix{*zoom:1;*display:inline;}
a{
    text-decoration: none;
    color: #333;
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}
/****base over*****/

body{
    background: #f1f3f6;
    color: #666666;
}
.title{
    border-top: 8px solid #63dc76;
    background: #fff;
    border-bottom: 1px solid #e4e5e7;
    height: 65px;
}
.title p{
    width: 1000px;
    margin: 0 auto;
    color: #666666;
    font-size: 16px;
    padding-top: 14px;
}
.mes_box{
    width: 840px;
    margin: 80px auto;
}
.mes_box .text_1{
    text-align: center;
    font-size: 25px;
}
.mes_box .text_2{
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
}
.mes_box .box {
    padding-top: 40px;
}
.mes_box .box li{
    width: 370px;
    /*padding: 0 65px;*/
    height: 330px;
    
    text-align: center;
    
}
.mes_box .box .left{
    float: left;
    background: #fff;
    border: 6px solid #fff;
}
.mes_box .box .right{
    float: right;
    background: #f1f3f6;
}
.mes_box .box li .first{
    border-bottom: 1px solid #d5f6da;
    line-height: 100px;
    font-size: 20px;
    text-align: center;
    margin: 0 65px;
}
.mes_box .box li .leave {
    font-size: 16px;
    padding: 64px 0 30px 0;
}
.mes_box .box li .leave span{
    color: #fe0000;
}
.mes_box .box li .car {
    font-size: 15px;
    line-height: 18px;
}
.mes_box .box li .car i img{
    width: 18px;
}
.mes_box .box li .select{
    text-align: center;
    margin-top:44px; 
    height: 56px;
    line-height: 56px;
}
.mes_box .box li .message li{
    height: 50px;
    /*line-height: 46px;*/
    font-size: 16px;
    text-align: left;
}
.mes_box .box li .message li input{
    width: 225px;
    height: 20px;
    line-height: 20px;
    padding:4px 10px;
    border: 1px solid #d8d8d8;
}
.mes_box .box li .message li textarea{
    width: 225px;
    height: 80px;
    padding:4px 10px;
    border: 1px solid #d8d8d8;
    resize:none;
}
.mes_box .box li .message li span{
    width: 100px;
    display: inline-block;
}
.mes_box .box li .message li .speceil{
    position: relative;
    top:-40px;
}
.mes_box .box .active{
    border: 6px solid #63dc76;
}
.mes_box .box .active .select{
    background: #63dc76;
}
.mes_box .next{
    width: 100px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    background: #364a60;
    color: #fff;
    margin: 55px auto;
}
.mes_box .next a{
    color: #fff;
}
.pop{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.2;
    filter:alpha(opacity=20);       /* IE */
    -moz-opacity:0.2;              /* 老版Mozilla */
    -khtml-opacity:0.2; 
    position: fixed;
    left: 0;
    top:0;
}
.pop_box{
    width: 480px;
    height: 180px;
    background: #fff;
    margin:-90px 0 0 -240px;
    position: fixed;
    left: 50%;
    top:50%;
}
.pop_box .top{
    text-align: center;
    font-size: 32px;
    padding-top: 30px;
}
.pop_box .cen{
    text-align: center;
    font-size: 16px;
    padding-top: 15px;
}
.pop_box .hide{
    width: 100px;
    height: 40px;
    line-height: 40px;
    float: left;
    text-align: center;
    background: #d0d0d0;
    color: #fff;
    border-radius: 4px;
    margin-top: 28px;
    margin-left: 128px;
    margin-right: 18px;
    cursor: pointer;
}
.pop_box .go_buy{
    width: 100px;
    height: 40px;
    line-height: 40px;
    float: left;
    background: #d86b50;
    text-align: center;
    border-radius: 4px;
    margin-top: 28px;
}
.pop_box a{
    color:#fff;
}